<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LeBron vs Jordan Career Averages</title>
    <style>
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .plot-container {
            width: 65%;
        }
        .image-container {
            width: 35%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        img {
            max-width: 100%;
            height: auto;
            border: 1px solid #ddd;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="plot-container">
            {{ plot|safe }}
        </div>
    <div class="image-container">
        <img src="{{ url_for('static', filename='LBJ_kid.png') }}" alt="LBJ">
    </div>
</body>
</html>
